In [178]:
import numpy as np 
import pandas as pd 
from scipy import stats

In [179]:
data = pd.read_csv("yellow_tripdata_2019-02.csv")
data

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,01/02/2019 00:59,01/02/2019 01:07,1,2.1,1,N,48,234,1,9.0,0.5,0.5,2.00,0.0,0.3,12.30,0.0
1,1,01/02/2019 00:33,01/02/2019 01:03,1,9.8,1,N,230,93,2,32.0,0.5,0.5,0.00,0.0,0.3,33.30,0.0
2,1,01/02/2019 00:09,01/02/2019 00:09,1,0.0,1,N,145,145,2,2.5,0.5,0.5,0.00,0.0,0.3,3.80,0.0
3,1,01/02/2019 00:45,01/02/2019 00:51,1,0.8,1,N,95,95,2,5.5,0.5,0.5,0.00,0.0,0.3,6.80,0.0
4,1,01/02/2019 00:25,01/02/2019 00:28,1,0.8,1,N,140,263,2,5.0,0.5,0.5,0.00,0.0,0.3,6.30,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1,05/02/2019 08:28,05/02/2019 08:48,1,2.3,1,N,249,170,1,14.0,2.5,0.5,2.00,0.0,0.3,19.30,2.5
1048571,1,05/02/2019 08:50,05/02/2019 09:02,1,1.4,1,N,161,234,1,9.5,2.5,0.5,2.00,0.0,0.3,14.80,2.5
1048572,1,05/02/2019 08:00,05/02/2019 08:14,1,1.7,1,N,141,163,2,10.5,2.5,0.5,0.00,0.0,0.3,13.80,2.5
1048573,1,05/02/2019 08:20,05/02/2019 08:28,1,0.8,1,N,230,161,1,7.0,2.5,0.5,1.55,0.0,0.3,11.85,2.5
1048574,1,05/02/2019 08:34,05/02/2019 08:39,1,0.8,1,N,164,234,1,5.5,2.5,0.5,2.60,0.0,0.3,11.40,2.5

In [180]:
data.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [181]:
def compute_trip_duration(data):
    # Calculate the trip duration as the difference between the tpep_pickup_datetime and tpep_dropoff_datetime datetimes
    data['trip_duration'] = pd.to_datetime(data['tpep_dropoff_datetime']) - pd.to_datetime(data['tpep_pickup_datetime'])
    return data

In [182]:
data = compute_trip_duration(data)

In [183]:
data

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,trip_duration
0,1,01/02/2019 00:59,01/02/2019 01:07,1,2.1,1,N,48,234,1,9.0,0.5,0.5,2.00,0.0,0.3,12.30,0.0,0 days 00:08:00
1,1,01/02/2019 00:33,01/02/2019 01:03,1,9.8,1,N,230,93,2,32.0,0.5,0.5,0.00,0.0,0.3,33.30,0.0,0 days 00:30:00
2,1,01/02/2019 00:09,01/02/2019 00:09,1,0.0,1,N,145,145,2,2.5,0.5,0.5,0.00,0.0,0.3,3.80,0.0,0 days 00:00:00
3,1,01/02/2019 00:45,01/02/2019 00:51,1,0.8,1,N,95,95,2,5.5,0.5,0.5,0.00,0.0,0.3,6.80,0.0,0 days 00:06:00
4,1,01/02/2019 00:25,01/02/2019 00:28,1,0.8,1,N,140,263,2,5.0,0.5,0.5,0.00,0.0,0.3,6.30,0.0,0 days 00:03:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1,05/02/2019 08:28,05/02/2019 08:48,1,2.3,1,N,249,170,1,14.0,2.5,0.5,2.00,0.0,0.3,19.30,2.5,0 days 00:20:00
1048571,1,05/02/2019 08:50,05/02/2019 09:02,1,1.4,1,N,161,234,1,9.5,2.5,0.5,2.00,0.0,0.3,14.80,2.5,0 days 00:12:00
1048572,1,05/02/2019 08:00,05/02/2019 08:14,1,1.7,1,N,141,163,2,10.5,2.5,0.5,0.00,0.0,0.3,13.80,2.5,0 days 00:14:00
1048573,1,05/02/2019 08:20,05/02/2019 08:28,1,0.8,1,N,230,161,1,7.0,2.5,0.5,1.55,0.0,0.3,11.85,2.5,0 days 00:08:00
1048574,1,05/02/2019 08:34,05/02/2019 08:39,1,0.8,1,N,164,234,1,5.5,2.5,0.5,2.60,0.0,0.3,11.40,2.5,0 days 00:05:00

In [184]:
# Add the colunms hour_of_day and the day_of_week to the dataframe
def add_hour_day_of_week(data):
    data['hour_of_day'] = pd.to_datetime(data['tpep_pickup_datetime']).dt.hour
    data['day_of_week'] = pd.to_datetime(data['tpep_pickup_datetime']).dt.dayofweek
    return data

In [185]:
data = add_hour_day_of_week(data)

In [186]:
exact_time_trip_duration=data['trip_duration'].dt.components
exact_time_trip_duration
data["exact_time_trip_duration"]=exact_time_trip_duration["minutes"]

In [187]:
def compute_predictions(df):
    """
    PULocationID/DOLocationID/day of the week/hour and has two columns. the first is the
     mean trip duration and the second column is the margin of error using 95% confidence
    interval. The mean is computed for all trip durations for the
    same PULocationID/DOLocationID/day of the week/hour. The new data frame is returned
    from the function.
    """
    groupe_by = df.groupby(['PULocationID', 'DOLocationID', 'day_of_week', 'hour_of_day'])['exact_time_trip_duration']
    mean = groupe_by.mean()
    standard_deviation = groupe_by.std()
    
    # Compute the t-score for 95% confidence interval
    t_score = stats.t.ppf(0.975, len(df) - 1)
    
    predictions = pd.DataFrame({'mean_trip_duration': mean, 
                                'margin_of_error': t_score * standard_deviation / np.sqrt(len(df))})
    return predictions

In [188]:
new_data=compute_predictions(df)
new_data

                                                   mean_trip_duration  \
PULocationID DOLocationID day_of_week hour_of_day
1            1            1           5                      0.500000
                                      7                      0.000000
                                      8                      0.000000
                                      9                      1.000000
                                      12                     0.000000
...                                                               ...
265          265          5           19                     4.666667
                                      20                     0.375000
                                      21                     2.400000
                                      22                     2.636364
                                      23                     3.142857

                                                   margin_of_error
PULocationID DOLocationID day_of_week hour_of_day
1            1            1           5                   0.001353
                                      7                        NaN
                                      8                        NaN
                                      9                   0.000000
                                      12                  0.000000
...                                                            ...
265          265          5           19                  0.020295
                                      20                  0.001424
                                      21                  0.007286
                                      22                  0.007124
                                      23                  0.014256

[225787 rows x 2 columns]